head
{
	margin:0;
	padding: 0;
}

h1
{
	margin-top: 2%;
	padding-bottom: 1%;
	text-align: center;
	border-bottom: 2px solid lightslategray;
	box-shadow: 2px;
	font-family: sans-serif;
}

label, input
{
  margin-left: 2%;
}

input
{
	width: 100%;
	border: 2px solid lightslategray;
	color: lightgray;
	height: 50px;
}

span
{
	position: relative;
	color: lightslategray;
}

#row
{
	width: 100%;
	display: flex;
	margin-top: 2%;
}

#divQuantity , #divGoals
{
	margin: 0;
	padding: 0;
	margin-top: 1%;
}


p
{
   margin:0;
   padding: 0;
   border-left: 6px solid;
}

h2
{
	text-align: center; 
	background-color:  lightslategray;
	color: white;
	height: 45px;
	margin-top: 0%;
}

#col1,#col2
{
	width: 48%;	
	margin: 0;
	padding: 0%;
	margin-top: 0%;
	display: inline-block;
	margin-left: 5px;
	margin-top: 0%;
	border-left: 6px solid lightgray;
}

#col2
{
	margin-left: 2%;
}

#frameInstruction
{
	font-family: sans-serif;
	font-style:unset;
	margin-left: 2%;
}

button
{
	margin-top: 1%;
	height: 40px;
	width: 120px;
	margin-left: 2%;
	background-color: lightgray;
	color: white;
}
#button1,#button2,#button3,#button4
{
	margin-top: 4%;
	width: 22%;
}
#button1:hover,#button2:hover,#button3:hover,#button4:hover
{
	width: 23%;
	color: black;
}

#countNumber
{
	text-align: center;
}

#Progress_Status { 
	margin-top: 2%;
	width: 98.7%; 
	height: 35px;
	background-color: #ddd; 
	border: 2px solid lightslategray;
} 
  
#myprogressBar 
{ 
	padding: 0;
	margin: 0;
	width: 1%; 
	height: 100%; 
	background-color: #4CAF50; 
	text-align: center; 
	line-height: 32px; 
	color: black; 
} 